# Build artifacts
**/bin/
**/obj/
*.user
.vs/
.idea/
.vscode/

# Secrets & environment
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.json
*.env
*.env.local

# Node
**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
